<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none"><!-- change "none" to "tests" for parallel browser testing -->
										<!-- none meaning one at a time processing of test -->
											<!-- tests meaning simultaneously processing of test -->
  <test thread-count="5" name="Test">
  <!--  
  <test name="Login UMTC">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="umtcpractice.Login" />
		</classes>
	</test>
	-->
	<test name="Careers UMTC">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="umtcpractice.TimelineExpress" />
		</classes>
	</test>

  
  </test> <!-- Test -->
</suite> <!-- Suite -->

 